@import 'mixins/bem';

.pos-fixed { position: fixed; }
.pos-relative { position: relative; }
.pos-absolute { position: absolute; }
.pos-sticky { position: sticky; }

.right-0 { right: 0; }
.left-0 { left: 0; }
.bottom-0 { bottom: 0; }
.top-0 { top: 0; }

.right-50 { right: 50%; }
.left-50 { right: 50%; }
.bottom-50 { bottom: 50%; }
.top-50 { top: 50%; }

@include sm { }

@include md { }

@include lg { }

@include xl { }
