@import 'mixins/bem';

.height-auto { height: auto; }
.height-25 { height: 25%; }
.height-50 { height: 50%; }
.height-75 { height: 75%; }
.height-100 { height: 100%; }
.height-vh-25 { height: 25vh; }
.height-vh-50 { height: 50vh; }
.height-vh-75 { height: 75vh; }
.height-vh-100 { height: 100vh; }

.width-auto { width: auto; }
.width-25 { width: 25%; }
.width-50 { width: 50%; }
.width-75 { width: 75%; }
.width-100 { width: 100%; }

@include sm { }

@include md { }

@include lg { }

@include xl { }
