@import 'mixins/bem';

.text-transform-uppercase { text-transform: uppercase; }
.text-align-center { text-align: center; }
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-decoration-underline { text-decoration: underline; };

@include sm { }

@include md { }

@include lg { }

@include xl { }
