// General
$white: #FFFFFF;
$black: #000000;
$grey: #D9D9D9;
$red: #FF1100;

// Primary
$primary-default: #90FFC5;
$primary-hover: #1BE879;
$primary-disabled: #C2C9D1;
$primary-selected: #04BE59;

// Secondary
$secondary-1: #85B9FF;
$secondary-2: #BD85FF;
$secondary-3: #FF96FF;
$secondary-4: #7A7A7A;

// Text
$text-general: #FFFFFF;
$text-secondary: #6B6B6B;
$text-accent: #90FFC5;
