@font-face {
  font-family: 'Baby Panda';
  font-style: normal;
  font-weight: 400;
  src: local('Baby Panda'), url('./fonts/Baby Panda.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url('./fonts/Roboto-Regular.ttf') format('truetype')
}
